<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} | Queazy</title>

        <!-- Inclusion du CSS -->
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('bundles/queazy/css/foundation.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/queazy/css/app.css') }}"/>
        {% endblock %}

        <!-- Inclusion du JS -->
        {% block scripts %}
            <script src="{{ asset('bundles/queazy/js/fundation.min.js') }}"></script>
        {% endblock %}

    </head>
    <body>
        <div class="column row container">

            <!-- HEADER -->
            {% block header %}
                <div class="row header">
                    <h1 class="text-center title">
                        <a href="{{ path('gil_queazy_accueil') }}"><span class="rotate">Q</span>ueazy</a>
                    </h1>
                </div>
            {% endblock %}

            <!-- Liens de navigation -->
            {% block navigation %}
                <div class="row navigation">
                    <div class="large-6 large-offset-3 columns">
                        <ul class="menu expanded">
                            <li class="menu-item {% if menu_selected == 'Accueil' %} active {% endif %}">
                                <a href="{{ path('gil_queazy_accueil') }}">Accueil</a>
                            </li>
                            <li class="menu-item {% if menu_selected == 'Quiz' %} active {% endif %}">
                                <a href="{{ path('gil_queazy_quiz') }}">Quiz</a>
                            </li>

                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="menu-item {% if menu_selected == 'Mes quiz' %} active {% endif %}">
                                <a href="{{ path('gil_queazy_user') }}">Mes Quiz</a></li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="menu-item {% if menu_selected == 'Login' %} active {% endif %}">
                                    <a href="{{ path('gil_queazy_admin') }}">Admin</a></li>
                            {% endif %}

							<li>{{ app.user.username }}</li>
							<li class="menu-item {% if menu_selected == 'Login' %} active {% endif %}">
                                <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>

							{% else %}
							<li class="menu-item {% if menu_selected == 'Login' %} active {% endif %}">
								<a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                            <li class="menu-item {% if menu_selected == 'Inscription' %} active {% endif %}">
                                <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
							{% endif %}
                        </ul>
                    </div>
                </div>
            {% endblock %}

            <!-- Partie principale (BODY) -->
            <div class="row body">
                {% block body %}
                {% endblock %}
            </div>

            <!-- Footer -->
            {% block footer %}
                <div class="row footer">
                    <p class="text-center">Made with <i class="fa fa-heart"></i> and Symfony</p>
                </div>
            {% endblock %}
        </div>
        <script src="{{ asset('bundles/queazy/js/app.js') }}"></script>
    </body>
</html>