{% extends "GILQueazyBundle::base.html.twig" %}

{% set menu_selected = 'Quiz' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h3>
        <strong>Titre :</strong>
        {{ quiz.titre }}
    </h3>
    <h4>
        <strong>Auteur :</strong>
        {{ quiz.auteur }}
    </h4>
    <h4>
        <strong>Date :</strong>
        {{ quiz.date|date("m/d/Y") }}
    </h4>
    <h4>
        <strong>Nombre de question :</strong>
        {{ questions|length }}
    </h4>
    <a class="button" href="{{ path('gil_queazy_quiz') }}/{{ quiz.id }}/question/{{ (questions|first).id }}">Commencer le Quiz !</a>
{% endblock %}