{% extends "GILQueazyBundle::base.html.twig" %}

{% set menu_selected = '' %}

{% block title %}Question{% endblock %}

{% block body %}
    <h3>
        <strong>Quiz : </strong>
        {{ quiz.titre }}
    </h3>

    <h4>
        <strong>Question : </strong>
        {{ question.questionContenu|raw }}
    </h4>

    {% if q_suivante != null %}
    <form action="{{ path('gil_queazy_accueil') }}quiz/{{ quiz.id }}/question/{{ q_suivante.id }}" method="post">
    {% else %}
    <form action="{{ path('gil_queazy_accueil') }}quiz/{{ quiz.id }}/resultat" method="post">
    {% endif %}
        <div class='row'>
            {% for reponse in reponses %}
            <div class ='large-12 columns'>
                <input type="radio" id="reponse" name="reponse" value="{{ reponse.id }}" {% if reponse == reponses|first %}checked="checked"{% endif %}>
                <label for="reponse">{{ reponse.reponseContenu|raw }}</label>
            </div>
            {% endfor %}
        </div>
        <input type="submit" class="button">
    </form>

{% endblock %}