{% extends "GILQueazyBundle::base.html.twig" %}

{% set menu_selected = 'Quiz' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h3>{{ quiz.titre }}</h3>

    <div class="row quiz">
        <div class="small-10 small-centered columns">
            <h5>Liste des questions du quiz :</h5>
            <ul class="quiz-infos">
                {% for question in questions %}
                    <li class="quiz-infos item">
                        <div class="row">
                            <div class="small-10 columns text-centered quiz-name">
                                {{ question.questionContenu }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a class="button" href="{{ path('gil_queazy_quiz') }}/{{ quiz.id }}/question/{{ (questions|first).id }}">Commencer le Quiz !</a>
{% endblock %}