<div class="row navigation">
    <div class="large-6 large-offset-3 columns">
        <ul class="menu expanded">

            {# Affichage des éléments du menu #}
            {#
            {% for item in menuItems %}
                <li class="menu-item {% if menu_selected == item.name %} active {% endif %}">
                    <a href="{{ path('gil_queazy_' ~ item.path) }}">{{item.name}}</a>
                </li>
            {% endfor %}
            #}

            <li class="menu-item {% if menu_selected == 'Accueil' %} active {% endif %}">
                <a href="{{ path('gil_queazy_accueil') }}">Accueil</a>
            </li>
            <li class="menu-item {% if menu_selected == 'Quiz' %} active {% endif %}">
                <a href="{{ path('gil_queazy_quiz') }}">Quiz</a>
            </li>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="menu-item {% if menu_selected == 'Mes quiz' %} active {% endif %}">
                <a href="{{ path('gil_queazy_user') }}">Mes Quiz</a></li>

            {% if is_granted('ROLE_ADMIN') %}
                <li class="menu-item {% if menu_selected == 'Login' %} active {% endif %}">
                    <a href="{{ path('gil_queazy_admin') }}">Admin</a></li>
            {% endif %}

            <li>{{ app.user.username }}</li>
            <li class="menu-item {% if menu_selected == 'Login' %} active {% endif %}">
                <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>

            {% else %}
            <li class="menu-item {% if menu_selected == 'Login' %} active {% endif %}">
                <a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
            <li class="menu-item {% if menu_selected == 'Inscription' %} active {% endif %}">
                <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
            {% endif %}
        </ul>
    </div>
</div>