{% extends "GILQueazyBundle::base.html.twig" %}

{% block title %}Ajout de Quiz{% endblock %}

{% set menu_selected = 'AddQuiz' %}

{% block body %}
    <h1>AJOUT DE QUIZ</h1>

    <form action="{{ path('gil_queazy_add_quiz') }}" method="POST">
        {{ form_errors(form) }}
        <div class="row">
            <div class="input-group">
                <span class="input-group-label">Quiz</span>
                {{ form_widget(form.quiz) }}
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <span class="input-group-label">Résultat:</span>
                <select class="input-group-field" name="resultat_choice">
                    <option name="resultat1">1 : On affiche juste le score</option>
                    <option name="resultat2">2 : On affiche le score et la liste des questions</option>
                    <option name="resultat3">3 : On affiche le score, la liste des questions et les réponses correctes</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <span class="input-group-label">Question</span>
                {{ form_widget(form.questionContenu) }}
            </div>
        </div>
        <p>(Saisir au minimum 2 réponses)</p>
        <div class="row">
            <div class="input-group">
                <span class="input-group-label">1</span>
                {{ form_widget(form1.reponseContenu) }}
                {{ form_rest(form1) }}
                <span class="input-group-label">2</span>
                {{ form_widget(form2.reponseContenu) }}
                {{ form_rest(form2) }}
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <span class="input-group-label">3</span>
                {{ form_widget(form3.reponseContenu) }}
                {{ form_rest(form3) }}
                <span class="input-group-label">4</span>
                {{ form_widget(form4.reponseContenu) }}
                {{ form_rest(form4) }}
            </div>
        </div>
        <p>Laquelle de ces reponses est correcte?</p>
        <div class="row">
            <select name="reponse_choice">
                <option name="reponse1">Réponse 1</option>
                <option name="reponse2">Réponse 2</option>
                <option name="reponse3">Réponse 3</option>
                <option name="reponse4">Réponse 4</option>
            </select>
        </div>
        <div class="row">
            <div class="large-12 columns">
                {{ form_widget(form.Valider) }}
                {{ form_widget(form.Annuler) }}
            </div>
        </div>
        {{ form_widget(form._token) }}
    </form>
{% endblock %}