{% extends "GILQueazyBundle::base.html.twig" %}

{% block title %}Ajout de Quiz{% endblock %}

{% set menu_selected = 'AddQuiz' %}

{% block body %}
    <h1>AJOUT DE QUIZ</h1>

    <h3>Quiz : {{ quiz.titre }}</h3>

    <p>Nombre de questions : {{ listQuestion|length }} </p>

    <a class="button" href="{{ path('gil_queazy_add_quiz') }}/{{ quiz.id }}/question"
       id="add-question" class="btn btn-success">Ajouter une question</a>

    <div class="row">
        <table class="hover">
            <thead>
                <tr>
                    <th>QUESTION</th>
                    <th>NB REPONSES</th>
                </tr>
            </thead>
            {% for question in listQuestion %}
            <tr>
                <td>{{ question.questionContenu|raw }}</td>
                <td class="text-center">{{ nbReponses[question.id] }}</td>
                <td><a href="#">Modifier</a></td>
                <td><a href="#">Supprimer</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
   <a class="button" href="{{ path('gil_queazy_user') }}">Quiz Fini</a>
{% endblock %}